{% extends 'aplicacion/base.html' %}
{% load static %}

{% block contenido %}
    
    <table>
        <tr>
            <td width="200"><h2>Agregar Clientes</h2></td>
            <td>
                <a
                href="{% url 'create_cliente' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="New Record"> </i>
                </a>
            </td>
            </tr>
    </table>

    <h1>{{ titulo|upper }}</h1>

    <h4>Cantidad de clientes al dia de la fecha {% now "d / m / Y" %}: {{ Cliente|length }}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de Cliente</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody>
    {% for c in Cliente %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.telefono }}</td>
                <td>{{ c.direccion }}</td>
                <td>
                    <a 
                      href="{% url 'update_cliente' c.id %}"
                      class="btn btn-primary"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                      href="{% url 'delete_cliente' c.id %}"
                      class="btn btn-danger"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>
                  </td>        
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock contenido %}